body {
	background: url(../img/background1.jpg) no-repeat center top / cover;
	font-size: 20px;
	padding: 0;
	margin: 0;
}


div {
	box-sizing: border-box;
}

a:hover {
	color: green;
}

.container {
	background: url(../img/background.jpg);
	width: 1000px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.header {
	margin-bottom: 10px;
	padding-top: 10px;
}

.menu {
	float: left;
	height: 50px;
	width: 500px;
}

.menu ul {
	padding: 0;
}

.menu li {
	float: left;
	display: block;
	margin-left: 30px;
	
}
.menu a {
	color: #4f2530;
	font-weight: bold;
	font-size: 26px;
	text-decoration: none;
}

.name {
	float: right;
	margin-right: 50px;
	color: #a0081e;
	font-family: Georgia, serif;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	font-style: italic;
}

.ua-line {
	border-top: 8px solid blue;
	border-bottom: 8px solid yellow;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.news {
	margin: 40px 5px 20px 5px;
}

.date {
	float: left;
	background: #f2e89b;
	border-radius: 3px;
	width: 150px;
	text-align: center;
	font-size: 20px;
	font-family: 'Times New Roman', sans-serif;
	font-weight: bold;
	margin-top: 7px;
}

.news img {
	float: left;
	border: 5px solid #a0770e;
	border-bottom-style: inset;
	margin-right: 10px;
}

.news h2 p {
	text-transform: uppercase;
	font-style: italic;
	font-family: Impact, serif;
	color: #0d6616;
}
.news h3 {
	margin-left: 25px;
	font-style: italic;
	color: #3e0766;
}

.news p {
	text-indent: 25px;
	margin-left: 25px;
}

.hotel img {
	float: left;
}

.footer {
	height: 100px;
	padding: 0 5px 0 5px;
}

.warning {
	float: left;
}

.creator-info {
	float: right;
	color: #3e0766;
	font-style: italic;
	font-weight: bold;
}

/*a::after {
	content: '';
	display: block;
	border: 2px solid green;
	transform: scale(0);
	transition: all 0.2s;
}
*/
a:hover {
	text-decoration: none;
	color: green;
}

/*a:hover::after {
	transform: scale(1);
}
*/

.light {
	background: yellow;
}
